<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Template is working</title>
</head>
<body>
    <h1>
        <center>
            welcome to our text analyzer......<br>
            <hr>
            Enter your text below.
        </center>
    </h1>
    <form action='/removepunc' method='get'>
        <textarea name ='text' style="width: 913px; height: 333px;margin-left: 297px;margin-top: 30px;">            
        </textarea><br>
        <input type="checkbox" name="x" style="  margin-left: 700px;margin-top: 11px;">Remove Punctuations<br>
        <input type="checkbox" name="x2" style="  margin-left: 700px;margin-top: 13px;">Capitalise All<br>
      
        <button type="submit" style="margin-left: 700px;margin-top: 10px;">Analyze Text</button>
            
       
    </form>
</body>
</html>